/build
/libnrg.so
/libnrg.so.0
/examples/test
/examples/t2
/examples/*/game_server
/examples/*/game_client
/libnrg.creator
/libnrg.config
/libnrg.files
/libnrg.includes
/libnrg.creator.*
*.exe
*.dll
*.a
core
